<style>
.Titulo {
  font-family: Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 0;
}


header {
  background-color: rgb(43, 59, 94);
  padding: 20px;
}

nav {
  background-color: rgb(66, 102, 153);
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(0,0,0);
  text-decoration: none;
  font-family: verdana;
  margin: 15px;
}

h2 {
  font-family: arial;
}

p {
  font-family: calibri;
  font-size: 20px;
}

li {
  font-family: calibri;
  font-size: 18px;
}

.TC {
  display: block;
  margin: auto;
}
</style>

